<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'"
    />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <title>Home</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">
      <h1 class="mt-5">Gerenciamento de Usuários</h1>
      <div class="mb-3">
        <button class="btn btn-success" onclick="showInsertUser()">
          Inserir Usuário
        </button>
      </div>

      <h2 id="lista" class="mt-4">Lista de Usuários</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Password</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody id="userTableBody"></tbody>
      </table>
    </div>
    <footer class="mt-5 py-3 bg-dark text-white text-center mt-auto">
      <p id="dataAtual" class="mb-0"></p>
      <small>&copy; 2025 - Todos os direitos reservados</small>
    </footer>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
  </body>
</html>
